*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 210px;
    width: 160px;
    display: flex;
    justify-content: center;
    border-radius: 10%;
    align-items: center;
}

.choice:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: #7ebaf7;
}

img{
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-radius: 10%;
}

.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
    font-size: 2rem;
}

#user-score, 
#computer-score{
font-size: 4rem;
}

.msg-container
{
   margin-top: 5rem;
}

#msg,
#restart-btn{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.rule{
    margin-top: 2rem;
    font-size: 1.5rem;
}
